body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
label{
    display: block;
    margin: 1rem 0;
}
#title, #description{
    margin: 1em auto;
    text-align: center;
}
.container{
    margin: 0 auto;
    background-color: rgba(27, 27, 50, 0.8);
    min-width: 250px;
    max-width: 550px;
}
#survey-form{
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
    width: 60vm;
    padding-bottom: 2em;
}
fieldset{
    border: 2rem;
    padding: 2rem 0;
    border:none;
}
fieldset:last-of-type{
    border-bottom: none;
}
input, textarea, select{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    min-height: 2em;
}
.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input, textarea{
    color: #495057;

}
#submit{
    display: block;
    width: 60%;
    margin: 1em auto 1em;
    height: 2em;
    font-size: 1.1rem;
    background-color: #37af65;
    min-width: 100%;
    color: white;
    border: none;
}
.parrafo{
    text-align: start;
}